<ion-content [fullscreen]="true">
  <div class="content">
    <ion-card *ngFor="let pedido of solicitacoesAceitas">
      <ion-card-header>
        <ion-card-subtitle class="subtitle-em-andamento">Em andamento</ion-card-subtitle>
        <ion-card-title>Pedido {{ pedido.id }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>{{ pedido.description }}</p>
        <p><strong>Valor:</strong> R$ {{ pedido.suggestedValue }}</p>
      </ion-card-content>
    
      <ion-button fill="solid" class="abrir-card" [routerLink]="['/finalizar-pedido-prestador']">
        Abrir
      </ion-button>
    </ion-card>

    <div *ngIf="solicitacoesAceitas.length === 0" class="ion-text-center">
      <p>Nenhum pedido aceito até o momento.</p>
    </div>
  </div>
</ion-content>

<app-footer-global></app-footer-global>
