ion-content {
  --background: rgb(233, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-bottom: 20px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  background-image: url('../../assets/imagens/fundo-arvores-removebg-preview.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}

.settings-list {
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  margin-top: 0px;
}

ion-item {
  --background: transparent !important;
  --border-color: transparent !important;
  border-bottom: 1px solid #dcdcdc;
  border-radius: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  --inner-padding-end: 10px;
  --padding-top: 18px;
  --padding-bottom: 18px;
  min-height: 60px; /* Aumenta a altura dos botões */
}

ion-label {
  color: #000000 !important;
  margin-right: auto;
}

ion-icon {
  color: #666 !important;
  font-size: 20px; /* Deixa a seta um pouco maior */
}

ion-icon[slot="end"] {
  display: block !important;
}
