<ion-header>
  <ion-toolbar>
    <app-toolbar-global [titulo]="'Pedido'"></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card class="main-card">
      <div class="value-section">
        <ion-label>VALOR:</ion-label>
        <div class="value">R$ 30,00</div>
      </div>

      <div class="input-group">
        <ion-label position="stacked">CEP:</ion-label>
        <ion-input type="text" value="20070-030"></ion-input>
      </div>

      <div class="input-group">
        <ion-label position="stacked">HORÁRIO:</ion-label>
        <ion-input type="text" value="12h e 30 min"></ion-input>
      </div>

      <div class="input-group">
        <ion-label position="stacked">DATA:</ion-label>
        <ion-input type="text" value="15/04/2025"></ion-input>
      </div>

      <div class="input-group">
        <ion-label position="stacked">ENDEREÇO DA EMPRESA:</ion-label>
        <ion-input type="text" value="Rua João da Silva, 123"></ion-input>
      </div>

      <div class="description-group">
        <ion-label position="stacked">DESCRIÇÃO:</ion-label>
        <div class="description-box">
          O lixo contém 30 latas de metal...
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
<app-footer-global></app-footer-global>
