ion-content {
  position: relative;
}

.content {
  position: relative;
  background: #FFFFFF;
  margin: 10px;
  border-radius: 10px;
  z-index: 2;
  padding: 16px;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(233, 237, 237);
  background-image: url('/assets/imagens/fundo-arvores-removebg-preview.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
  filter: blur(4px);
  z-index: 1;
  opacity: 1;
}

.itens-detalhes{
  --background: #FFFFFF;
}

.frase-impactante{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  font-size: 14px;
  color: grey;
  // --background: rgb(233, 237, 237);
}

// <botoes-links>

ion-row {
  text-align: center;
}

.btn-links::part(native){
  --background: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icones-btn-links{
  font-size: 24px !important;
  color: grey;
}

.p-btn-links{
  font-size: 15px;
  text-align: center;
  color:grey;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}

// </botoes-links>

// <botoes-finais>

.botoes-finais{
  display: flex;
  justify-content: center;
}

.btn-negociar{
  width: 48%;
  --background: #FFFFFF;
  color: #0a4e23;
}

.btn-aceitar{
  width: 48%;
  --background: #0a4e23;
}

// </botoes-finais>
