<ion-content>
  <div class="content">
    <div class="logo-container">
      <img src="{{ logoPath }}" alt="Logo Coleta Verde">
    </div>

    <div class="form-container">
      <div class="input-group">
        <ion-item>
          <ion-label position="floating">Nome Completo</ion-label><br>
          <ion-input type="text" aria-required="true" placeholder="Nome e Sobrenome" class="input-field" [(ngModel)]="nomeCompleto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">CPF</ion-label><br>
          <ion-input type="text" aria-required="true" class="input-field" maxlength="14" [(ngModel)]="cpf" placeholder="000.000.000-00" (ionInput)="formatarCpf($event)" (keypress)="permitirSomenteNumeros($event)"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label><br>
          <ion-input type="email" aria-required="true" placeholder="email@domain.com" class="input-field" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefone</ion-label><br>
          <ion-input type="tel" aria-required="true" [(ngModel)]="telefone" placeholder="(00) 00000-0000" class="input-field" maxlength="15" (ionInput)="formatarTelefone($event)" (keypress)="permitirSomenteNumeros($event)"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label><br>
          <ion-input aria-required="true" minlength="7" placeholder="******" [type]="passwordVisible ? 'text' : 'password'" class="input-field"
            [(ngModel)]="senha"></ion-input>
          <ion-icon class="eye-icon" slot="end" [name]="passwordVisible ? 'eye-outline' : 'eye-off-outline'"
            (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" class="register-button" (click)="onSubmit()">Cadastrar-se</ion-button>
    </div>
  </div>

  <div class="background-container"></div>
</ion-content>
