ion-content {
  --background: rgb(233, 237, 237);
  /* Cor de fundo padrão */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centraliza horizontalmente */
  justify-content: flex-start;
  /* Alinha o conteúdo ao topo */
  min-height: 100vh;
  /* Garante que o ion-content ocupe toda a altura da viewport */
  padding-bottom: 20px;
  /* Espaçamento inferior */
  padding-top: 30px;
  /* Espaçamento superior */
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  background-image: url('../../assets/imagens/fundo-arvores-removebg-preview.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  /* Garante que a div content cubra todo o ion-content */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centraliza horizontalmente o conteúdo interno */
  position: fixed;
  overflow-y: auto;
}

.logo-container {
  margin-top: 50px;
  margin-bottom: 40px;
  width: 150px;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.form-container {
  width: 80%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-group {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

ion-item {
  --background: transparent;
  --border-color: #c8c7cc;
  margin-bottom: 8px;
  border-radius: 8px;
}

ion-label {
  color: #222428;
}

.input-field {
  font-size: 1em;
}

.register-button {
  --background: black;
  --color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
}

.eye-icon {
  font-size: 1.2em;
  cursor: pointer;
}
