
.botao-verde-claro {
    --background: #b9fbc0;
    --color: #0a3d31;
  }
  
  .botao-verde-escuro {
    --background: #2d6a4f;
    --color: white;
  }

  .formatarMoeda{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14vw;
    text-align: center;
    color: #0a3d31;
    width: 70vw;
  }