*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao-verde-claro {
    --background: #b9fbc0;
    --color: #0a3d31;
  }
  
  .botao-verde-escuro {
    --background: #2c6d50;
    --color: white;
  }