ion-content{
    --background: rgb(233, 237, 237);
    position: relative;
}

ion-title{
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.content-padding {
    padding: 16px;
    width: 100%;
    height: 100%;
    background-image: url('/assets/imagens/fundo-arvores-removebg-preview.png');
    background-position: center bottom;
    background-repeat: no-repeat;
  }

.botao-verde-claro,
.botao-cinza {
  font-weight: bold;
  --border-radius: 5px;
  text-transform: capitalize;
}

p{
    display: flex;
    justify-content: center;
}

.p-pagamento{
    margin-top: 35px;
}

.btn-pagar{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.botao-cinza {
  --background: #dbdbdb;
  --color: #0a4e23;
}

.botao-verde-claro {
  --background: #0a4e23;
  --color: #ffffff;
}

.formatarMoeda {
  --background: rgb(233, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 14vw;
  text-align: center;
  color: #0a4e23;
  width: 70vw;
}

button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  background-color: #0a4e23;
  color: white;
  width: 100%;
  position: relative;
  z-index: 2;
}

button:hover {
  background-color: #0c612b;
}

.botao-notificacao{
    --color: #0a4e23;
    padding: -20px;
}