<ion-toolbar>
  <div class="conteinerHeader">
    <ion-title>
      {{ endereco }}
      <img src="../../../assets/imagens/icones/iconeSetaEndereco.png"/>
    </ion-title>

    <ion-buttons slot="end" class="notification-button-wrapper">
      <ion-button fill="clear" (click)="abrirNotificacoes()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge *ngIf="qtdNovasNotificacoes > 0" color="danger" class="notification-badge">
          {{ qtdNovasNotificacoes }}
        </ion-badge>
      </ion-button>
    </ion-buttons>

  </div>
</ion-toolbar>