<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Endereço do usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="navegacao">
    <ion-button [routerLink]="['/acompanhamento-do-servico']">
      Tela acompanhamento do servico
    </ion-button>

    <ion-button [routerLink]="['/cadastro']">
      Tela cadastro
    </ion-button>

    <ion-button [routerLink]="['/chat']">
      Tela chat
    </ion-button>

    <ion-button [routerLink]="['/configuracoes']">
      Tela configuracoes
    </ion-button>

    <ion-button [routerLink]="['/gerenciamento-de-solicitacoes']">
      Tela gerenciamento de solicitações
    </ion-button>

    <ion-button [routerLink]="['/home-cliente']">
      Tela home cliente
    </ion-button>

    <ion-button [routerLink]="['/leilao']">
      Tela leilão
    </ion-button>

    <ion-button [routerLink]="['/login']">
      Tela login
    </ion-button>

    <ion-button [routerLink]="['/pagamento']">
      Tela pagamento
    </ion-button>
        
    <ion-button [routerLink]="['/separacao-cliente-prestador']">
      Tela separacao cliente-prestador
    </ion-button>
    
    <ion-button [routerLink]="['/']">
      Tela Home
    </ion-button>

  </div>

</ion-content>
