ion-content {
  --background: #EFF0EF;
  background-color: #EFF0EF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  color: #000000
}

.contentChat {
  max-width: 700px;
  margin: 0 auto;
}

.inicioChat {
  display: inline-flex;
  margin-top: 15px;
}

.inicioChatBl ion-toolbar {
  background: #eff0ef;
  --background: #eff0ef;
}

.descricaoChat{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.descricaoChat ion-row {
  justify-content: center;
}

.descricaoChat ion-row img {
  margin-bottom: 14px;
}

.descricaoChat p {
  margin: 8px 0;
}

.mensagem-container {
  position: relative;
  bottom: 8px;
  left: 0;
  right: 0;
  padding: 6px;
  background: #fff;
  z-index: 10;
  border-top: 1px solid #ddd;
  width: 98%;
  border-radius: 20px;
  margin-left: 1%;
}

.toolbar-background {
  background: #eff0ef !important;
  background-color: #eff0ef !important;
}

.mensagem-input {
  flex: 1;
}

.mensagens {
  padding-bottom: 70px;
}


.mensagem-container  ion-button {
  color: #000 !important;
  font-size: 22px;
}
