<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header-endereco-global [endereco]="'Endereço do Usuário'"></app-header-endereco-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="CardapioHeader">
    <img src="../../assets/imagens/logo-app-coleta-verde.png" alt="Logo Coleta Verde">
  </div>

  <div class="blocoSelecione">
    <div><span>SELECIONE O SEU SERVIÇO...</span></div>
    <div><img src="../../assets/imagens/icones/iconeFiltro.png" /></div>
  </div>

  <div class="contentCardapio">

    <div class="inicioCardapio">

      <div class="blocoInfos" *ngFor="let item of solicitacoes">

          <div class="blocoInfosEsq" (click)="abrirDetalhes(item)">
            <span class="blocoInfosData">Pedido: {{ item.id }}</span>
            <span class="blocoInfosData">Dia: {{ item.desiredDate | date:'dd/MM/yyyy' }}</span>
            <span class="blocoInfosHorario">Horário: {{ item.desiredDate | date:'HH:mm' }}</span>
            <span class="blocoInfosEndereco">{{ item.address.logradouro }} - {{ item.address.bairro }}</span>
          </div>

          <div class="blocoInfosDir">
            <span class="blocoInfosPreco">R$ {{ item.suggestedValue }}</span>
          </div>

      </div>


    </div>

  </div>


</ion-content>

<app-footer-global></app-footer-global>
