<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="/home-prestador" class="link-icone">
        <img src="../../../assets/imagens/icones/iconeCasa.png" class="icone-custom" />
        <ion-label>Início</ion-label>
      </a>

      <a href="/pedidos-prestador" class="link-icone">
        <img src="../../../assets/imagens/icones/iconeSolicitacoes.png" class="icone-custom" />
        <ion-label>Pedidos</ion-label>
      </a>

      <a href="/perfil-prestador" class="link-icone">
        <img src="../../../assets/imagens/icones/iconePerfil.png" class="icone-custom" />
        <ion-label>Perfil</ion-label>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
