:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    color:#000000;
    color-scheme: light;
  }

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
