ion-content{
    --background: rgb(233, 237, 237);
  }

.content{
background-image: url('/assets/imagens/fundo-arvores-removebg-preview.png'); 
background-repeat: repeat-x; 
background-size: contain; 
background-position: center bottom;
width: 100%;
height: 100%;
}

// <botões>
ion-button{
    // --background: #0a4e23;
    --background: #bcb3b3;
}

.add-pedido{
    width: 8vh;
    height: 8vh;
}

.icone-mais{
    color: black;
    width: 5vh;
    height: 5vh;
}

.center-button{ 
display: flex;
justify-content: center;
}
// </botões>