<ion-header [translucent]="true">
  <ion-toolbar>
    <app-toolbar-global [titulo]="'Pedidos'" [mostrarBotaoVoltar]="false"></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundo-arvores">
  <div class="content">

    <ion-card class="card-pedido" [routerLink]="['/pedido-cliente']">
      <div class="status-banner concluido">CONCLUÍDO</div>
      <ion-card-header>
        <ion-card-title>Pedido 12345</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pedido concluído em 17/03/25<br>
        Concluído por José
      </ion-card-content>
    </ion-card>

    <ion-card class="card-pedido" [routerLink]="['/pedido-cliente']">
      <div class="status-banner andamento">EM ANDAMENTO</div>
      <ion-card-header>
        <ion-card-title>Pedido 12345</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pedido aceito em 16/03/25
      </ion-card-content>
    </ion-card>

    <ion-card class="card-pedido" [routerLink]="['/pedido-cliente']">
      <div class="status-banner pendente">CANCELADO</div>
      <ion-card-header>
        <ion-card-title>Pedido 12345</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pedido feito em 15/03/25<br>
        Aguardando contato
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<app-footer-global></app-footer-global>

