<ion-header [translucent]="true">
  <ion-toolbar>
    <app-toolbar-global [titulo]="'Notificações'" [mostrarBotaoVoltar]="false"></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="contentBg">
      <ion-list *ngIf="notificacoes.length > 0; else semDados">
        <ion-item *ngFor="let notificacao of notificacoes" (click)="cliqueNotificao()">
          Solicitação: Nº {{ notificacao.id || 'Notificação sem título' }}<br>
          Endereço: {{ notificacao.address.logradouro || 'Notificação sem título' }}
        </ion-item>
      </ion-list>

      <ng-template #semDados>
        <ion-text class="ion-padding">Nenhuma notificação encontrada.</ion-text>
      </ng-template>
    </div>
  </div>
</ion-content>

<app-footer-global></app-footer-global>
