<ion-header [translucent]="true">
  <ion-toolbar>
    <app-toolbar-global
      [titulo]="'Notificações'"
      [mostrarBotaoVoltar]="false"
    ></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="contentBg">
      <ion-list *ngIf="notificacoes.length > 0; else semDados">
        <ion-card
          *ngFor="let notificacao of notificacoes"
          (click)="cliqueNotificao(notificacao)"
          class="notificacao-card"
        >
          <ion-card-header>
            <ion-card-title>
              🗑️ Solicitação Nº {{ notificacao.id || 'Sem número' }}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-label class="ion-text-wrap">
              <p>
                📍 <strong>Endereço:</strong>
                {{ notificacao.address?.logradouro || 'Sem endereço' }}
              </p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-list>

      <ng-template #semDados>
        <div class="ion-text-center ion-padding">
          <ion-icon name="notifications-off-outline" size="large"></ion-icon>
          <p>Nenhuma notificação disponível no momento.</p>
        </div>
      </ng-template>
    </div>
  </div>
</ion-content>

<app-footer-global></app-footer-global>
