*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bgd{
  background-image: url('/assets/imagens/fundo-arvores-removebg-preview.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  padding: 16px;
}
.container{
    justify-content: center;
    background-color: rgb(233, 237, 237);
    font-size: 4.5vw;

    h6{
      font-size: 5vw;
    }
    button{
      font-size: 3vw;
    }
}
#iddesc {
  height: 20vh;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  resize: none; /* impede redimensionamento manual, opcional */
  font-size: 5vw;
  box-sizing: border-box;
}

ion-select{
  font-size: 4vw;
}
input{
    border-radius: 10px;
    padding: 7px;
    width: 100%;
    border-color: rgb(225, 225, 225);
}

input:focus {
    outline: none;
    box-shadow: none;
    border-color: initial;
  }

button{
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    background-color: #0A4E23;
    color: white;
    width: 100%;
}

button:hover{
    background-color: #09451f;
}
.btnend{
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: #0A4E23;
    color: white;
    width: auto;
}
.btnend:hover{
    background-color: #09451f;
}
