<ion-header [translucent]="true">
  <ion-toolbar>
    <app-toolbar-global [titulo]="'Solicitação'"></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">
  <div class="container bgd">
    <form (ngSubmit)="fazerSolicitacao()" #form="ngForm">

      <!-- Seleção de Endereço -->
      <label for="endereco">
        <h6>Selecione o endereço</h6>
        <ion-select [(ngModel)]="enderecoSelecionadoIndex" name="endereco" placeholder="Selecionar" required>
          <ion-select-option *ngFor="let endereco of enderecos; let i = index" [value]="i">
            {{ endereco.logradouro }} - {{ endereco.bairro }}
          </ion-select-option>
        </ion-select>
      </label>

      <!-- Botão para adicionar novo endereço -->
      <button type="button" (click)="abrirAlertaEndereco()">Adicionar Novo Endereço</button>

      <!-- Descrição -->
      <label for="desc">
        <h6>Descrição do lixo a ser coletado</h6>
        <textarea id="iddesc" name="desc" [(ngModel)]="descricao" placeholder="Digite aqui..." required></textarea>
      </label>

      <!-- Valor sugerido -->
      <label for="vl">
        <h6>Qual o valor sugerido</h6>
        <input type="number" id="idvalor" name="valor" [(ngModel)]="valor" placeholder="R$" required />
      </label>

      <!-- Botão de envio -->
      <button type="submit" [disabled]="isSubmitting">Fazer solicitação</button>

      <!-- Carregando -->
      <ion-spinner *ngIf="isSubmitting" name="crescent"></ion-spinner>

    </form>
  </div>
</ion-content>

<app-footer-global></app-footer-global>
