<ion-header [translucent]="true">
  <ion-toolbar>
    <app-toolbar-global [titulo]="'Solicitação'"></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">
  <div class="container bgd">
    <form (ngSubmit)="fazerSolicitacao()" #form="ngForm">

      <!-- Endereço -->
      <label>
        <h6>Selecione o endereço</h6>
        <ion-select placeholder="Selecionar" [(ngModel)]="enderecoSelecionado" name="endereco" required>
          <ion-select-option value="Rua A, 123">Rua A, 123</ion-select-option>
          <ion-select-option value="Rua B, 456">Rua B, 456</ion-select-option>
          <ion-select-option value="Rua C, 789">Rua C, 789</ion-select-option>
        </ion-select>
        <button type="button" class="btnend">Adicionar endereço</button>
      </label>

      <!-- Descrição -->
      <label for="iddesc">
        <h6>Descrição do lixo a ser coletado</h6>
        <input
          type="text"
          id="iddesc"
          name="desc"
          [(ngModel)]="descricao"
          placeholder="Digite aqui..."
          style="padding: 5px 0px 60px 5px;"
          required
        />
      </label>

      <!-- Valor sugerido -->
      <label for="idvalor">
        <h6>Qual o valor sugerido</h6>
        <input
          type="number"
          id="idvalor"
          name="valor"
          [(ngModel)]="valor"
          placeholder="R$"
          required
        />
      </label>

      <!-- Botão de envio -->
      <button type="submit">Fazer solicitação</button>
    </form>
  </div>
</ion-content>

<app-footer-global></app-footer-global>
