/* ----------- GERAL ----------- */
.contentBg {
  background-color: rgb(233, 237, 237);
  background-image: url('/assets/imagens/fundo-arvores-removebg-preview.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow-y: auto;
  float: left;
  min-height: 450px;
}

.content {
  max-width: 700px;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 100px;
}

.container > *:not(.blur-overlay) {
  position: relative;
  z-index: 1;
}

hr {
  border: 1px solid rgb(219, 222, 222);
  width: 100%;
  margin: 0%;
  padding: 0%;
}

/* ----------- SOLICITAÇÃO ----------- */
.solicitacao-form {
  margin: 30px auto;
  width: 100%;
  background-color: #ffffff;
  padding: 28px;
  border-radius: 20px;
  min-height: 1030px;
}

.solicitacao-form h6 {
  font-weight: bold;
  color: #333;
  margin: 26px 0 10px 0;
}

.solicitacao-form h6.titTopo{
  margin: 0px 0 10px 0;
}

.solicitacao-form ion-select,
.solicitacao-form input[type="number"],
.solicitacao-form textarea {
  width: 100%;
  padding: 8px 12px;
  font-size: 20px;
  border: 1px solid #2f9e25;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
}

.solicitacao-form textarea {
  resize: none;
  height: 100px;
  font-family: inherit;
}

.solicitacao-form button {
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #0a4e23;
  padding: 8px 16px;
  border-radius: 8px;
  color: #0a4e23;
  cursor: pointer;
  font-weight: bold;
}

.solicitacao-form button.btnTopo {
    margin: 10px 0 20px 0 !important;
}

/* ----------- AGENDAMENTO ----------- */
.solicitacao-form ion-input[type="date"] {
  width: 100%;
  padding: 12px 16px;
  font-size: 20px;
  border: 1px solid #2f9e25;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

.solicitacao-form ion-input[type="time"] {
  width: 100%;
  padding: 12px 16px;
  font-size: 20px;
  border: 1px solid #2f9e25;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

.solicitacao-form .btn-submit {
  display: block;
  margin: 30px auto 0 auto;
  padding: 10px;
  border-radius: 20px;
  background-color: #0A4E23;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

button.btn-submit:disabled {
  opacity: 0.5;
}

/* ----------- INPUT DE ARQUIVO ----------- */
.solicitacao-form input[type="file"] {
  display: none; /* Esconde o input de arquivo padrão */
}

.solicitacao-form label.file-label {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #2f9e25;
  border-radius: 8px;
  background-color: #fff;
  color: #2f9e25;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.solicitacao-form label.file-label:hover {
  background-color: #2f9e25;
  color: white;
}

.solicitacao-form input[type="file"]:focus + label.file-label {
  outline: none;
  box-shadow: 0 0 5px rgba(47, 158, 37, 0.7); /* Sombra ao focar */
}


@media (max-width: 600px) {
  .content {
    max-width: 900px;
  }

  .contentBg{
      max-height: 100%;
  }
}


/* ----------- RESPONSIVO PARA TELA PEQUENA ----------- */
@media screen and (max-width: 768px) {
  .solicitacao-form {
    max-width: 90%;
  }

  .solicitacao-form h6 {
    font-size: 5vw;
  }

  .solicitacao-form ion-select,
  .solicitacao-form input[type="number"],
  .solicitacao-form textarea,
  .solicitacao-form ion-input[type="date"],
  .solicitacao-form ion-input[type="time"] {
    font-size: 20px; /* Ajuste do tamanho da fonte para telas menores */
  }

  .solicitacao-form .btn-submit {
    font-size: 20px;
    width: 100%;
  }

  .solicitacao-form label.file-label {
    font-size: 20px;
  }
}

/* ----------- RESPONSIVO PARA TELAS MUITO PEQUENAS ----------- */
@media screen and (max-width: 480px) {
  .solicitacao-form {
    max-width: 90%;
    padding: 10px;
  }

  .solicitacao-form h6 {
    font-size: 6vw;
  }

  .solicitacao-form ion-select,
  .solicitacao-form input[type="number"],
  .solicitacao-form textarea,
  .solicitacao-form ion-input[type="date"],
  .solicitacao-form ion-input[type="time"] {
    font-size: 5vw; /* Ajuste para telas muito pequenas */
  }

  .solicitacao-form .btn-submit {
    font-size: 5vw;
    width: 100%;
  }

  .solicitacao-form label.file-label {
    font-size: 5vw;
  }
}
