<ion-header [translucent]="true">
  <ion-toolbar>
    <app-toolbar-global [titulo]="'Início'" [mostrarBotaoVoltar]="false"></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="bgd-superior">
      <img class="img-logo" src="/assets/imagens/logo-app-coleta-verde.png" alt="logo-app-coleta-verde" />
    </div>

    <ion-button fill="outline" size="small" style="margin-left: 45%;" [routerLink]="['/navegacao-teste-front']">
      NAVEGAR
    </ion-button>

    <div class="atalhos-home">
  <h2>Educação Ambiental</h2>
</div>

<div
  class="carrossel-scroll"
  #carrossel
>
  <div
    class="card"
    *ngFor="let card of cards; index as i"
    (mouseenter)="hoverCard(i)"
    (mouseleave)="leaveCard()"
    (click)="scrollToCard(i)"
  >
    <ion-card>
      <img
        [src]="card.img"
        [alt]="card.alt"
        class="img-card"
      />
      <ion-card-content>
        {{ card.texto }}
      </ion-card-content>
    </ion-card>
  </div>
</div>

  </div>
</ion-content>

<app-footer-global></app-footer-global>
