<ion-header [translucent]="true">
  <ion-toolbar>
    <app-toolbar-global [titulo]="'Agendamento'"></app-toolbar-global>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container bgd">

    <ion-card class="card-data">
      <ion-card-header>
        <ion-card-title>Data do Serviço</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <input type="date" name="date" id="IdDate">
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
<app-footer-global></app-footer-global>
