<ion-content>
  <div class="contentBg">
    <div class="content">
      <div class="logo-container">
        <img src="{{ logoPath }}" alt="Logo Coleta Verde">
      </div>

      <div class="form-container">
        <h1>Bem -<br>Vindo ...</h1>

        <ion-button expand="block" class="btnAcesso"[routerLink]="['/login']">login</ion-button>

        <span>OU</span>

        <ion-button expand="block" class="btnAcesso" [routerLink]="['/cadastro-cliente']">cadastro empresa</ion-button>
        <ion-button expand="block" class="btnAcesso cdPrestador" [routerLink]="['/cadastro-prestador']">cadastro prestador</ion-button>
      </div>
    </div>
  </div>
</ion-content>
